<md-sidenav-container>
	<md-sidenav #sidenav>
		<md-list>
			<a routerLink="movies" *ngIf="getLoginState()" (click)="sidenav.close()"><md-list-item>Filmer</md-list-item></a>
			<a routerLink="series" *ngIf="getLoginState()" (click)="sidenav.close()"><md-list-item>Serier</md-list-item></a>
			<a routerLink="authentication" (click)="sidenav.close()"><md-list-item>Autentisering</md-list-item></a>
		</md-list>
	</md-sidenav>
	<div class="container">
		<header (menuButtonClicked)="sidenav.open()"></header>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Demo</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<div class="container">
		<footer></footer>
	</div>
</md-sidenav-container>
