/* You can add global styles to this file, and also import other style files */
.spinner{
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	border: 20px solid #e1e1e1;
	border-top: 20px solid #000000;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
}

@keyframes spin{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
